{% extends 'sim_base.html' %}
{% block main %}
<form method="POST" name="input">
    <ul>
        <li>Model Correlation: <input type="text" name="corr" value={{corr}}></li>
        <li>Spot STD: <input type="text" name="spotstd" value={{spotstd}}></li>
        <li>Forward STD: <input type="text" name="fwdstd" value={{fwdstd}}></li>
        <li>Number of simulations: <input type="text" name="numobserv" value={{numobserv}}></li>
        <br><input type="submit" name="calculate" value="Calculate">
    </ul>
    <ul>
        <li>Calculated Correlation: {{stats['statcorr']}}</li>
        <li>Calculated standar deviation of spot: {{stats['statspotstd']}}</li>
        <li>Calculated standard deviation of forward: {{stats['statfwdstd']}}</li>
        <li>Calculated hedge ratio: {{stats['statratio']}}</li>
        <li>Linear fit: forward = {{stats['statlinearfit'][0]}} * spot + {{stats['statlinearfit'][1]}}</li>
    </ul>
</form>
{{ script|safe }}
{{ div|safe }}
<br>
{{ script_line|safe}}
{{ div_line|safe }}
{% endblock %}